    * {
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    /* --------- Body --------- */
    
    body {}
    
    #myCanvas {
        margin-left: 10%;
        padding-top: 6%;
    }
    
    .top {
        height: calc(100vh - 20px);
        max-height: calc(100vh - 20px);
    }
    /* --------- Header --------- */
    
    header {
        background-color: #14A04B;
        padding: 10px;
        display: flex;
        flex-wrap: nowrap;
        max-height: 100px;
    }
    
    header svg {
        flex-grow: 1;
        position: relative;
        margin: auto;
        height: 70px;
        min-width: 192px;
    }
    
    header h1 {
        flex-grow: 10;
        position: relative;
        margin: auto;
    }
    /* --------- Main --------- */
    
    main {}
    
    .map {
        width: 76%;
        margin: 50px 12%;
        margin-bottom: 25px;
        height: calc(100vh - 100px - 64px - 100px);
    }
    
    .map svg path {
        fill: #E3E3E3;
        stroke: rgb(255, 255, 255);
        stroke-width: 0.8px;
    }
    
    .map svg path:hover {
        fill: #ccc;
        cursor: pointer;
    }
    /* --------- Dropdown --------- */
    
    .dropdown {
        margin: 0 12%;
        margin-top: 20px;
        position: relative;
    }
    
    .dropdown::before {
        font-family: FontAwesome;
        content: "\f106";
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 32px;
        color: black;
        pointer-events: none;
    }
    
    .dropdown p {
        font-size: 20px;
    }
    
    .dropdown select {
        width: 100%;
        height: 40px;
        padding-left: 10px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-size: 14px;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 4px;
        cursor: pointer;
    }
    
    .dropdown select option {
        color: #666;
    }
    /* --------- detail --------- */
    
    .detail {
        height: calc(100vh - 20px);
        max-height: calc(100vh - 20px);
        margin-top: 20px;
        background-color: #ddd;
    }
    
    .info p {
        font-size: 30px;
        margin-left: calc(50vw - 150px);
        padding-top: 5px;
    }
    
    .info {
        padding-top: 30px;
    }
    /* --------- charts --------- */
    
    .charts {
        display: flex;
        align-content: stretch;
        padding: 30px 60px;
        padding-top: 0;
        max-width: 90vw;
        margin-left: 20px;
        margin-right: 20px;
        max-height: 500px;
    }
    
    .charts canvas {
        width: 90%;
        max-width: 90vw;
        max-height: 400px;
        padding-top: 10%;
    }
    
    .pie {
        padding: 50px;
    }
    
    #pieChartCanvas {
        margin-top: calc(50% - 50px);
        margin-left: 0px;
    }
    
    #lineChartCanvas {
        margin-top: 3%;
        width: 100%;
    }
    
    .line {
        flex-grow: 10;
        width: 90%;
        max-width: 1000px;
    }
    
    .leg {
        width: 300px;
        height: 100%;
        max-height: 700px;
        padding-left: 40px;
        align-self: center;
    }
    /* --------- legend --------- */
    
    .legend {
        width: 300px;
        box-shadow: inset 0 1px 3px #ddd;
        border-radius: 7px;
        background-color: #C8C8C8;
        overflow: hidden;
    }
    
    .legendElement {
        display: flex;
        align-items: stretch;
        text-align: center;
    }
    
    .checkboxBackground {
        padding: 10px 15px;
        position: relative;
    }
    
    .checkboxBackground input {
        width: 1.3em;
        height: 1.3em;
        background-color: white;
        border-radius: 20%;
        vertical-align: middle;
        border: 1px solid #ddd;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
    }
    
    .checkboxBackground input:checked {
        background-color: gray;
    }
    
    .labelBackground {
        margin-top: 7px;
        margin-left: 10px;
        font-size: 20px;
    }
    /* --------- Footer --------- */
    
    footer {
        background-color: #14A04B;
        width: 100%;
        height: 20px;
        margin-right: 5px;
    }
    
    footer p {
        float: right;
        margin-right: 10px;
    }
    
    footer a {
        text-decoration: none;
        color: black;
    }
    /* --------- Responsives ---------*/
    
    @media only screen and (max-width: 1024px) {
        header svg {
            display: none;
        }
        header h1 {
            font-size: 15px;
        }
        body {
            font-size: 10px;
        }
        footer {
            height: 50px;
            position: absolute;
        }
        .top {
            height: calc(100vh - 50px);
            max-width: 100vw;
            max-height: 100vh;
        }
        #pieChartCanvas {
            margin-top: 0%;
            width: 200px;
        }
        .detail {
            height: calc(100vh - 50px);
            max-width: 100vw;
            max-height: 100vh;
        }
        .charts {
            flex-direction: column;
            max-height: 500px;
            max-width: 90vw;
        }
        .charts canvas {
            max-width: 60vw;
            max-height: 300px;
            padding-top: -10%;
        }
        .pie {
            padding: 50px;
            width: 50%;
            padding-left: 35%;
            max-width: 300px;
        }
        #lineChartCanvas {
            margin-top: 3%;
        }
        .line {
            flex-grow: 10;
            width: 95%;
            height: 40%;
            padding-left: 15%;
            max-width: 600px;
        }
        .leg {
            padding-top: 6%;
        }
    }