* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* --------- Body --------- */

body {}

.top {
    height: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
}


/* --------- Header --------- */

header {
    background-color: #14A04B;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    max-height: 100px;
}

header svg {
    flex-grow: 1;
    position: relative;
    margin: auto;
    height: 70px;
    min-width: 192px;
}

header h1 {
    flex-grow: 10;
    position: relative;
    margin: auto;
}

/* --------- Main --------- */

main {}

.map {
    width: 76%;
    margin: 0 12%;
    height: 80vh;
}

.map svg path {
    fill: #E3E3E3;
    stroke: rgb(255, 255, 255);
    stroke-width: 0.8px;
}

.map svg path:hover {
    fill: rgb(185, 185, 185);
}


/* --------- Dropdown --------- */

.dropdown {
    margin: 0 12%;
    margin-top: 20px;
    position: relative;
}

.dropdown::before {
    font-family: FontAwesome;
    content: "\f106";
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 32px;
    color: black;
    pointer-events: none;
}

.dropdown p {
    font-size: 20px;
}

.dropdown select {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.dropdown select option {
    color: #666;
}


/* --------- detail --------- */

.detail {
    margin-top: 20px;
    height: 700px;
    background-color: #ddd;
}


/* --------- legend --------- */

.legend {
    width: 300px;
    float: right;
    box-shadow: inset 0 1px 3px #ddd;
    margin-right: 10%;
    border-radius: 7px;
    background-color: #C8C8C8;
    overflow: hidden;
}

.legendElement {
    display: flex;
    align-items: stretch;
    text-align: center;
}

.checkboxBackground {
    background-color: #f00;
    padding: 10px 15px;
    position: relative;
}

.checkboxBackground label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 20%;
    cursor: pointer;
    top: 11px;
    left: 11px;
    position: absolute;
    width: 15px;
    height: 15px;
}

.checkboxBackground label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.checkboxBackground input[type="checkbox"] {
    visibility: hidden;
}

.checkboxBackground input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.checkboxBackground input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.labelBackground {
    margin-left: 10px;
}




/* --------- Footer --------- */

footer {
    background-color: #14A04B;
    width: 100%;
    height: 20px;
    margin-right: 5px;
}

footer p {
    float: right;
}

footer a {
    text-decoration: none;
    color: black;
}


/* --------- Responsives ---------*/

@media only screen and (max-width: 530px) {
    header svg {
        display: none;
    }
    header h1 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 530px) {
    footer {
        height: 50px;
    }
    .top {
        height: calc(100vh - 50px);
    }
}